@require './palette'

body
  font-family 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  font-weight 300

a, button
  transition color ease-in-out 86ms, background-color ease-in-out 86ms, border-color ease-in-out 86ms, opacity ease-in-out 86ms

.navbar
  background-color $accentColor
  color #fff
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.05)
  border-bottom none
  display: flex !important

  .logo
    margin-top 0.2rem
    height: 1.9rem !important
    min-width 1.9rem !important

  .search-box
    input
      color: #555

      &::placeholder
        opacity: 0.7

    .suggestion a
      color #555
      opacity 0.8

      &:hover
        opacity 1

  .site-name
    display none

  .nav-links
    font-size 0.8rem

  .links
    background-color inherit !important

    .icon.outbound
      color #fff
      opacity 0.5

    .nav-item > .nav-link,
    .repo-link
      opacity 0.8
      color #fff
      font-weight 300

      &:hover
        opacity 1

    .dropdown-wrapper
      .dropdown-title
        color inherit
        opacity 0.8

      .arrow
        border-top-color #fff
        opacity 0.5

      &:hover
        .dropdown-title
          opacity 1

      .nav-dropdown
        color #111

.sidebar
  .sidebar-heading
    font-weight 500
    font-size 1rem

  .sidebar-group:not(.collapsable) .sidebar-heading,
  .sidebar-heading
    color #999999
    font-size 0.7em
    font-weight 600
    text-transform uppercase
    letter-spacing 0.1rem

  .sidebar-links
    > li
      margin 0
      margin-bottom 0.2rem

  .sidebar-group
    .sidebar-link
      font-size 0.9em
      color #555555
      border-left 0.125rem solid transparent

    .sidebar-linkhover,
    .sidebar-linkactive,
    .sidebar-link.active
      color $accentColor
      border-left-color $accentColor

.page-edit
  .edit-link a
    color #111 !important
    opacity 0.4
    font-weight 400
    font-size 0.9rem

    &:hover
      opacity 0.6

  .last-updated
    opacity: 0.4

    .prefix, .time
      color #111 !important

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 300

h1
  padding-bottom 16px
  border-bottom 2px solid rgba(0, 0, 0, 0.05)

@media (min-width 720px)
  .page
    padding-left 13rem

  .sidebar
    width 13rem

.theme-default-content
  padding 4rem 2.5rem 1rem

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6
    margin-top -1.5rem
    padding-bottom 1rem

  ul, ol
    li
      padding 0.5rem 0

      div[class*="language-"]
        margin-top 0.75rem

div[class*="language-"]
  background-color #ffffff
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing subpixel-antialiased
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.05)
  border 1px solid rgba(0, 0, 0, 0.05)

  &:before
    color rgba(0, 0, 0, 0.2)

.theme-default-content
  code
    color $accentColor

  pre,
  pre code,
  pre[class*="language-"],
  pre[class*="language-"] code
    line-height 1.7
    color #888

    .token
      &:.property,
      &:.class-name,
      &:.function,
      &:.keyword,
      &:.constant,
      &:.double-quoted-string,
      &:.string
        color $accentColor

      &:.char,
      &:.attr-value,
      &:.regex,
      &:.variable,
      &:.selector,
      &:.important,
      &:.atrule,
      &:.builtin
        color lighten($accentColor, 40%)

      &:.operator,
      &:.symbol,
      &:.punctuation,
      &:.boolean,
      &:.number
        color #888

      &:.comment,
      &:.block-comment,
      &:.prolog,
      &:.doctype,
      &:.cdata
        color #bbb
